@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

:root {
    --clr-orange: #FFB562;
}

.title {
    font-family: 'Fugaz One', cursive;
    font-size: 36px;
}

.btn-sticky {
    color: #FFFFFFFF;
    border-radius: 50%;
    /* position: -webkit-sticky;
    position: sticky;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25); */
    transition: border-radius 0.25s;

    bottom: -4px;
}

.btn-sticky:hover {
    border-radius: 25%;
}

.float-btn {
    background-color: var(--clr-orange);
}
